---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import ProjectCard from '@/components/ProjectCard.astro';

const work = await getCollection('work');
const mainProjects = work.filter(p => !p.data.sideProject).sort((a, b) => a.data.order - b.data.order);
const sideProjects = work.filter(p => p.data.sideProject).sort((a, b) => a.data.order - b.data.order);
---

<BaseLayout title="Work" description="Design work by René Galindo" hideFooter>

  <h2 class="mb-2 text-gray-500 text-base pb-1">Work</h2>
  <div class="space-y-0">
    {mainProjects.map((project) => (
      <ProjectCard
        href={`/work/${project.slug}`}
        title={project.data.title}
        description={project.data.description}
        year={project.data.year}
        logo={project.data.logo}
      />
    ))}
  </div>

  <h2 class="mt-8 mb-2 text-gray-500 text-base pb-1">Projects</h2>
  <div class="space-y-0">
    {sideProjects.map((project) => (
      <ProjectCard
        href={`/work/${project.slug}`}
        title={project.data.title}
        description={project.data.description}
        year={project.data.year}
        logo={project.data.logo}
      />
    ))}
  </div>
</BaseLayout>
